%% apns2 config file
{apns2, 
 {apple_release_host, "gateway.push.apple.com"},
 {apple_sandbox_host, "gateway.sandbox.push.apple.com"},
 {apple_port, 2195},
 {release_cert_file, "priv/cert.pem"},
 {sandbox_cert_file, "priv/cert.pem"},
 {release_cert_password, undefined},
 {sandbox_cert_password, undefined},
 {timeout, 30000},
 {error_fun, fun(X,Y) -> erlang:display({X,Y}) end},
 {feedback_enable, false},
 {feedback_host, "feedback.sandbox.push.apple.com"},
 {feedback_port, 2196},
 {feedback_fun, fun erlang:display/1},
 {feedback_timeout, 30*60*1000}
}.

